<div class="center mt-4">
    <h2 class="display-4">Subscribers Table</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        <tbody>
            <% subscribers.forEach( subscriber => { %>
            <tr>
                <td>
                    <a href="<%= `/subscribers/${subscriber._id}` %>">
                        <%= subscriber.name %>
                    </a>
                </td>
                <td>
                    <%= subscriber.email %>
                </td>
                <td>
                    <a href="<%= `/subscribers/${subscriber._id}/edit` %>">Edit</a>
                </td>
                <td>
                    <a href="<%= `/subscribers/${subscriber._id}/delete?_method=DELETE` %>"
                        onclick="return confirm('Are you sure you want to delete a subscriber?')">
                        Delete
                    </a>
                </td>
            </tr>
            <%});%>
        </tbody>
        </thead>
    </table>
</div>